.active {
    background-color: transparent !important;
    color: #b300ff !important;
    font-weight: bold;
}

li {
    font-weight: 500 !important;

}

li a:hover {
    background-color: transparent !important;
    color: #b300ff !important;
}

li a:focus {
    background-color: transparent !important;
    color: #b300ff !important;
}

li a:active {
    background-color: transparent !important;
}

.my-btn {
    padding: 0 8px;
}

.my-btn:hover {
    border: 1px solid #b300ff !important;
}